* {
  margin: 0;
  padding: 0;
}

body {
  background: #101010;
}

.text {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: sans-serif;
  color: white;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}
